{% extends 'navbar.html' %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center;">Welcome to {{ user.username }}'s Profile Page</h1>
        <br>
        <div class="row">
            <div class="col-md-6">
                <p><strong>Email :</strong> {{user.email}}</p>
                <p><strong>Phone Number :</strong> {{user.userdetails.phone}}</p>
                <p><strong>Door Number :</strong> {{user.userdetails.door_no}}</p>
                <p><strong>Landmark :</strong> {{user.userdetails.landmark}}</p>
                <p><strong>City :</strong> {{user.userdetails.city}}</p>
                <p><strong>State :</strong> {{user.userdetails.state}}</p>
                <p><strong>Pincode :</strong> {{user.userdetails.pincode}}</p>
                <button type="button" class="btn btn-secondary"><a href="update" style="text-decoration: none; color:white">edit profile</a>
                </button>
            </div>
            <div class="col-md-6">
                <h2>User Profile</h2>
                {% if user.userdetails.userpic %}
                    <img src="{{ user.userdetails.userpic.url }}" alt="no image" width="300px" height="300px" style="border-radius: 50%;">
                {% else %}
                    <p>Profile pic not uploaded</p>
                {% endif %}
            </div>
        </div>
       
    </div>
</div>

{% endblock %}